<div class="mt-3">
	<h5>Example Query:</h5>
	<p><span class="font-italic">WP-4848,WP-4848-FF,WP-4848-84B,WP-4848-84B-FF,</span></p>
	<p>Note: While files will return automatically, it does take time for the website to write to the file.</p>
</div>
