<!DOCTYPE html>
<html>
<head>
	  <%= erb(:_header) %>
<body>
<%= erb(:_navbar) %>

<div class="container">
	<div class="jumbotron">
		<div class="mt-5 col-sm-8 mx-auto">
			<h1 class="pb-3">Welcome to Product Key Search</h1>
			<p>Click <span><a class="text-success" href="/search">Search</a></span> to begin!</p>
		</div>
	</div>
</div>

</body>
</html>