<!DOCTYPE html>
<html>
<head>
	  <%= erb(:_header) %>
<body>
<%= erb(:_navbar) %>

<div class="container">
<div class="jumbotron">
	<div class="mt-5 col-sm-8 mx-auto">
		<h1 class="pb-3">Welcome to Product Key Search</h1>
		<p>Click <span><a class="text-success" href="/individual">Search Individual Websites</a></span> to search multiple queries at once, separate by commas, and get them returned as a table.</p>
		<p>Click <span class="text-warning"><a href="/multiple">Search Multiple Websites</a></span> to search one query at once and get it returned as a table result.</p>
	</div>
</div>
</div>

</body>
</html>